@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?32012614");
  src: url("../font/fontello.eot?32012614#iefix") format("embedded-opentype"), url("../font/fontello.woff?32012614") format("woff"),
    url("../font/fontello.ttf?32012614") format("truetype"), url("../font/fontello.svg?32012614#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32012614#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* BEIGE THEME		 						     */
/*-----------------------------------------------*/
:root,
:root.beige {
  /* main color */
  --theme-primary: #ccba98; /* subtitle-en */
  --theme-primary-rgb: 204, 186, 152;
  --theme-secondary: #7a6451; /* banner-text.dark*/
  --theme-secondary-rgb: 122, 100, 81;
  --theme-tertiary: #4c3e32; /* banner-venue, banner-address, revp-info */
  --theme-tertiary-rgb: 76, 62, 50;
  --theme-quaternary: #bba999; /* end-of-story */
  --theme-quaternary-rgb: 187, 169, 153;
  --theme-background-primary: #f8f7f5;
  --theme-background-secondary: #f7f5f2;
  --theme-background-tertiary: #f5f1ec;
  --theme-background-preloader: #f5f1ec;
  --theme-background-bottomnav: #fcf7f2;
  --theme-background-bottomnav-hover: #f5ede5;

  /* components */
  // --theme-preloader-image: url("../../images/preloader/heart1-beige-skin.png");
  // --theme-preloader-image-reverse: url("../../images/preloader/heart2-beige-skin.png");
  // --theme-preloader-gif: url("../../images/preloader/preloader-typing_beige.gif");
  // --theme-preloader-heart: url("../../images/preloader/prealoader-heart_beige.png");
  // --theme-sendloading-gif: url("../../images/preloader/sending_beige.gif");
  // --theme-show-more-image: url("../../images/icons/arrow-beige.png");
  --theme-nav: #a58752; /* nav menu */
  --theme-nav-hover: #6c5835;
  --theme-nav-border: #e0d2c6;
  --theme-nav-border-rgb: 224, 198, 199;
  --theme-heart: #f5ab7f; /* main heart */
  --theme-empty-heart: #edc085; /* couple button icon */
  --theme-button-primary: #42372c; /* rsvp and map zoom */
  --theme-button-primary-hover: #241d18;
  --theme-button-secondary: #241d18;
  --theme-button-couple: #254252; /* couple button */
  --theme-button-audio: #728c59; /* audio button */
  --theme-button-zoom: #ffd390; /* gallery zoom button */
  --theme-line: #b99f71; /* line general and carousel inactive */
  --theme-line-rgb: 185, 159, 113;
  --theme-line-active: #917861; /* carousel active */
  --theme-line-active-rgb: 145, 120, 97;
  --theme-calendar-selected: #e95a42;

  /* groom color */
  --theme-groom-primary: #6f8570;
  --theme-groom-primary-rgb: 111, 133, 112;
  --theme-groom-secondary: #707664;
  --theme-groom-secondary-rgb: 112, 118, 100;
  --theme-groom-tertiary: #5d966d;
  --theme-groom-tertiary-rgb: 93, 150, 109;
  --theme-groom-line: #e9eae7;
  --theme-groom-background-primary: #edeeeb;
  --theme-groom-background-secondary: #f9faf9;
  --theme-groom-border: #d0d3cb;

  /* bride color */
  --theme-bride-primary: #ba7d60;
  --theme-bride-primary-rgb: 186, 125, 96;
  --theme-bride-secondary: #8b6254;
  --theme-bride-secondary-rgb: 139, 98, 84;
  --theme-bride-tertiary: #c47b58;
  --theme-bride-tertiary-rgb: 196, 123, 88;
  --theme-bride-line: #eee5e2;
  --theme-bride-background-primary: #f3edeb;
  --theme-bride-background-secondary: #fdfbfb;
  --theme-bride-border: #e4d7d2;
}

/*===============================================*/
/* Preloader 				 		 			 */
/*===============================================*/
#preloader {
  background-color: var(--theme-background-preloader);
}

/* Heart Animation							     */
/* ----------------------------------------------*/
#preloader .heart-animation img {
  content: var(--theme-preloader-image);
  width: 25px;
  height: auto;
}

#preloader .heart-animation-reverse img {
  content: var(--theme-preloader-image-reverse);
  width: 25px;
  height: auto;
}

/* Text FadeInUp							     */
/* ----------------------------------------------*/
.preloader-type-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 0 20px;
}

.preloader-line {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: var(--delay);
}

.preloader-line.guest-name {
  margin-bottom: 30px;
}

.preloader-line-content {
  margin-bottom: 7px;
  margin-bottom: 7px;
  color: var(--theme-secondary);
  font-size: 25px;
}

.preloader-line-content .and-kr {
  font-size: 0.8em;
  margin: 0 15px;
}

.preloader-line-content .and-en {
  margin: 0 15px;
  /* font-family: var(--font-en-serif-garamond); */
}

.preloader-line-content i {
  color: var(--theme-primary);
  font-size: 30px;
}

.preloader-line-content img {
  width: 30px;
  height: auto;
}

.preloader-line-content.en-vibes {
  font-family: var(--font-en-cursive-vibes);
  font-size: 30px;
}

.preloader-line-content.en-script {
  font-family: var(--font-en-cursive-script);
  font-size: 30px;
}

.preloader-gif img {
  width: 300px;
  height: auto;
}

/* ----------------------------------------------*/
/* Gift Section			         				 */
/* ----------------------------------------------*/
#gift-section {
  padding: 80px 0;
}

#gift-info {
  font-family: var(--info-font-family);
  font-weight: 400;
}

.gift-display {
  display: flex;
}

/* ICON IMAGE */
#flower-icon {
  width: 60px !important;
  height: auto;
}

/* Gift for Groom */
.accordion1,
.accordion3 {
  background-color: var(--theme-groom-background-primary);
  color: var(--theme-groom-secondary);
  border-width: 0.5px;
  border-color: var(--theme-groom-border);
  border-style: solid;
  cursor: pointer;
  padding: 20px 25px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 22px;
  transition: 0.4s;
  font-weight: 500;
}

.accordion1::after,
.accordion3::after {
  color: var(--theme-groom-secondary);
  font-weight: bold;
  font-size: 24px;
  float: right;
  margin-left: 5px;
}

.accordion3.always-open::after,
.accordion4.always-open::after {
  content: none;
}

.panel1 {
  background-color: var(--theme-groom-background-secondary);
  border: 0.5px solid var(--theme-groom-border);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Gift for Groom OPEN */
.panel3 {
  background-color: var(--theme-groom-background-secondary);
  border: 0.5px solid var(--theme-groom-border);
}

hr.line-groom {
  border: 0.5px solid var(--theme-groom-line);
  margin: 0px;
}

/* Gift for Bride */
.accordion2,
.accordion4 {
  background-color: var(--theme-bride-background-primary);
  color: var(--theme-bride-secondary);
  border-width: 0.5px;
  border-color: var(--theme-bride-border);
  border-style: solid;
  cursor: pointer;
  padding: 20px 25px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 22px;
  transition: 0.4s;
  font-weight: 500;
}

.accordion2::after,
.accordion4::after {
  color: var(--theme-bride-secondary);
  font-weight: bold;
  font-size: 24px;
  float: right;
  margin-left: 5px;
}

.panel2 {
  background-color: var(--theme-bride-background-secondary);
  border: 0.5px solid var(--theme-bride-border);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Gift for Bride OPEN */
.panel4 {
  background-color: var(--theme-bride-background-secondary);
  border: 0.5px solid var(--theme-bride-border);
}

hr.line-bride {
  border: 0.5px solid var(--theme-bride-line);
  margin: 0px;
}

.kakaopaybtn {
  background-color: #fee500; /* kakao yellow */
  box-shadow: 0px 8px 15px rgba(51, 51, 51, 0.1);
  color: #000;
  border: none;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  width: 200px;
  padding: 15px 0px;
  cursor: pointer;
}

.kakaopaybtn a {
  color: #000;
  text-decoration: none;
}

.kakaopaybtn a i.de-icon-comment {
  margin-right: 2px;
  font-size: 17px;
}

.accountbtn {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(51, 51, 51, 0.1);
  color: #000;
  border: none;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  width: 200px;
  padding: 15px 0px;
  cursor: pointer;
}

.gift-one-button {
  width: 250px;
}

.btnouter {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountinfo {
  padding: 30px 60px;
  font-family: var(--info-font-family);
  /* font-size: 18px; */
  font-weight: 400;
  color: #2c2c2e;
  letter-spacing: -0.3px;
}

.accountinfo p.lead {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 0;
}

.btninner {
  display: inline-block;
  margin: 0px 10px;
}

.right-float {
  float: right;
}

/* Media Screen Max-width: 1200px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 1200px) {
  /* ----------------------------------------------*/
  /* Main Slider Slide-Image	    	  		 	 */
  /* ----------------------------------------------*/

  /* Gift    Section                      		 */
  /* ----------------------------------------------*/

  .accountinfo {
    padding: 30px 30px;
    font-family: "Noto Sans KR", sans-serif;
  }
}

/* ----------------------------------------------*/
/* Media Screen Max-width: 991px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 991px) {
  /* ----------------------------------------------*/
  /* Gift Section						             */
  /* ----------------------------------------------*/
  #gift-info {
    width: 80%;
    margin: auto;
  }

  .gift-display {
    display: block;
  }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
  /* ----------------------------------------------*/
  /* 02.2 Logo & Nav Position						 */
  /* ----------------------------------------------*/
  #nav-menu {
    height: 230px !important;
  }
}

/* ----------------------------------------------*/
/* Media Screen Max-width: 767px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 767px) and (orientation: landscape) {
}

@media screen and (max-width: 767px) {
  /*===============================================*/
  /* Preloader	 							     */
  /*===============================================*/
  .preloader-line.guest-name {
    margin-bottom: 25px;
  }

  .preloader-line-content {
    font-size: 20px;
  }

  .preloader-line-content i {
    font-size: 25px;
  }

  .preloader-line-content img {
    width: 25px;
    height: auto;
  }

  .preloader-line-content.en-vibes,
  .preloader-line-content.en-script {
    font-size: 25px;
  }

  /* ----------------------------------------------*/
  /* Gift Section						             */
  /* ----------------------------------------------*/
  #gift-section {
    padding: 60px 30px;
  }

  #gift-info {
    width: 100%;
  }

  #gift-section .col-md-6 {
    padding-right: 7px;
    padding-left: 7px;
  }

  .accordion1,
  .accordion3 {
    font-size: 20px;
    padding: 18px 20px;
  }

  .accordion1::after,
  .accordion3::after {
    font-size: 21px;
  }

  .accordion2,
  .accordion4 {
    font-size: 20px;
    padding: 18px 20px;
  }

  .accordion2::after,
  .accordion4::after {
    font-size: 21px;
  }

  .btninner {
    margin: 0px 5px;
  }

  .accountinfo {
    padding: 30px 30px;
    font-size: 17px;
  }

  .accountbtn {
    width: 170px;
    font-size: 14px;
    padding: 14px 0px;
  }

  .kakaopaybtn {
    width: 170px;
    font-size: 14px;
    padding: 14px 0px;
  }

  .gift-one-button {
    width: 220px;
  }
}

/* ----------------------------------------------*/
/* Media Screen Max-width: 480px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 480px) {
  /*===============================================*/
  /* Preloader	 							     */
  /*===============================================*/
  .preloader-line.guest-name {
    margin-bottom: 15px;
  }

  .preloader-line-content {
    font-size: 17px;
  }

  .preloader-line-content .and-kr {
    margin: 0 10px;
  }

  .preloader-line-content .and-en {
    margin: 0 10px;
  }

  .preloader-line-content i {
    font-size: 20px;
  }

  .preloader-line-content img {
    width: 22px;
    height: auto;
  }

  .preloader-line-content.en-vibes,
  .preloader-line-content.en-script {
    font-size: 20px;
  }

  .preloader-gif img {
    width: 200px;
    height: auto;
  }

  /* ICON & DIVIDER                                */
  /* ----------------------------------------------*/
  .main-heart {
    font-size: 14px;
  }

  .pink-heart {
    font-size: 14px;
  }

  .pink-heart-lowsat {
    font-size: 14px;
  }

  .white-heart {
    font-size: 14px;
  }

  .grey-heart {
    font-size: 14px;
  }

  .grey-heart-lowsat {
    font-size: 14px;
  }

  hr.line-divider {
    margin: 30px 0px;
  }

  /* ----------------------------------------------*/
  /* Gift Section	        						 */
  /* ----------------------------------------------*/
  #gift-section {
    padding: 50px 0;
  }

  .accordion1,
  .accordion3 {
    font-size: 18px;
    padding: 16px 15px 15px 12px;
  }

  .accordion1::after,
  .accordion3::after {
    font-size: 21px;
  }

  .accordion2,
  .accordion4 {
    font-size: 18px;
    padding: 16px 15px 15px 12px;
  }

  .accordion2::after,
  .accordion4::after {
    font-size: 21px;
  }

  .accountinfo {
    padding: 20px 15px;
    font-size: 15px;
    letter-spacing: -0.1px;
  }

  .kakaopaybtn {
    font-size: 13px;
    width: 140px;
    padding: 12px 0px 13px 0px;
  }

  .kakaopaybtn a i.de-icon-comment {
    margin-right: 1px;
    font-size: 13px;
  }

  .accountbtn {
    font-size: 13px;
    width: 140px;
    padding: 11px 0px 12px 0px;
  }

  .gift-one-button {
    width: 200px;
  }

  .btnouter {
    margin-bottom: 20px;
  }

  .btninner {
    margin: 0px 5px;
  }
}

/* ----------------------------------------------*/
/* Media Screen Max-width: 359px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 359px) {
  /*===============================================*/
  /* 01. GENERAL			 						 */
  /*===============================================*/

  /*===============================================*/
  /* Preloader	 							     */
  /*===============================================*/
  .preloader-line-content {
    font-size: 15px;
  }

  .preloader-line-content i {
    font-size: 18px;
  }

  .preloader-line-content img {
    width: 20px;
    height: auto;
  }

  .preloader-line-content.en-vibes,
  .preloader-line-content.en-script {
    font-size: 18px;
  }

  /* ----------------------------------------------*/
  /* Gift Section						        	 */
  /* ----------------------------------------------*/
  #gift-section .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .accordion1,
  .accordion3 {
    font-size: 16px;
    padding: 16px 15px 15px 10px;
  }

  .accordion1::after,
  .accordion3::after {
    font-size: 17px;
  }

  .accordion2,
  .accordion4 {
    font-size: 16px;
    padding: 16px 15px 15px 10px;
  }

  .accordion2::after,
  .accordion4::after {
    font-size: 17px;
  }

  .accountinfo {
    padding: 20px 15px;
    font-size: 14px;
  }

  .kakaopaybtn {
    font-size: 12px;
    padding: 10px 0px 11px 0px;
    width: 130px;
  }

  .kakaopaybtn a i.de-icon-comment {
    margin-right: 1px;
    font-size: 11px;
  }

  .accountbtn {
    font-size: 12px;
    width: 130px;
    padding: 10px 0px 11px 0px;
  }

  .gift-one-button {
    width: 200px;
  }

  .btnouter {
    margin-bottom: 15px;
  }

  .btninner {
    margin: 0px 3px;
  }
}

/* ----------------------------------------------*/
/* Media Screen Max-width: 319px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 319px) {
  /* ----------------------------------------------*/
  /* Gift Section						        	 */
  /* ----------------------------------------------*/
  #gift-section .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .accordion1,
  .accordion3 {
    font-size: 15px;
    padding: 16px 15px 15px 10px;
  }

  .accordion1::after,
  .accordion3::after {
    font-size: 17px;
  }

  .accordion2,
  .accordion4 {
    font-size: 15px;
    padding: 16px 15px 15px 10px;
  }

  .accordion2::after,
  .accordion4::after {
    font-size: 17px;
  }

  .accountinfo {
    padding: 20px 10px;
    font-size: 13px;
    letter-spacing: -0.3px;
  }

  .kakaopaybtn {
    font-size: 11px;
    padding: 10px 0px 11px 0px;
    width: 115px;
  }

  .kakaopaybtn a i.de-icon-comment {
    margin-right: 1px;
    font-size: 11px;
  }

  .accountbtn {
    font-size: 11px;
    width: 115px;
    padding: 10px 0px 11px 0px;
  }

  .gift-one-button {
    width: 160px;
  }

  .btnouter {
    margin-bottom: 15px;
  }

  .btninner {
    margin: 0px 3px;
  }
}

/* ----------------------------------------------*/
/* Media Screen Max-width: 279px	     		 */
/* ----------------------------------------------*/

@media screen and (max-width: 279px) {
  /* ----------------------------------------------*/
  /* GALLERY Section		     			     */
  /* ----------------------------------------------*/
  #gallery-section .col-sm-12 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .three-col.with-gutter .masonry-col {
    margin-bottom: 10px;
  }
  .three-col.with-gutter .masonry-col.w33 {
    width: 30.5%;
  }

  .three-col.with-gutter .masonry-col.w66 {
    width: 63.5%;
  }
}

p.lead,
.wysiwyg-p.lead,
.wysiwyg-p.lead p,
.wysiwyg-p.lead * {
  font-size: calc(14.5px + var(--font-size-var-half));
}
