#footer {
  width: 100%;
}
.foot-share {
  padding: 1.875rem 0 1.563rem;
  background: #333;
  border-bottom: 1px solid #222;
  text-align: center;
}
.foot-share ul {
  font-size: 0;
  line-height: 0;
}
.foot-share li {
  display: inline-block;
  vertical-align: top;
  width: 7.125rem;
  padding: 0 0.938rem;
  box-sizing: content-box;
}
.foot-share a {
  position: relative;
  display: block;
  padding-top: 3.563rem;
  font-family: "Noto Sans KR";
  font-size: 1.288rem;
  font-weight: 300;
  line-height: 1.275rem;
  text-align: center;
  color: #aaa;
  text-decoration: none;
}
.foot-share a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1.563rem;
  width: 3.125rem;
  height: 3.125rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 3.125rem;
}
.foot-share .kakao:after {
  background-image: url("/static/images/footer_kakao.png");
}
.foot-share .facebook:after {
  background-image: url("/static/images/linkcopy_icon.png");
}
.foot-share .party:after {
  background-image: url("/static/images/party/mirrorBall.png");
}
.foot-share .normal:after {
  background-image: url("/static/images/bg-prewed.jpg");
}
.foot-share .quiz:after {
  display: white;
  background-image: url("/static/images/quiz-icon.png");
}

.foot-share .Phone_2g:after {
  background-image: url("/static/images/footer_2g.png");
}
.foot-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.688rem;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #333;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.foot-logo:after {
  content: "";
  display: block;
  width: 3.469rem;
  height: 0.906rem;
  margin: 0 auto;
  background-size: 3.469rem auto;
}
